.main {
	.skills {	
	}
	.bio {
		font-weight: 400;
		p {
			margin: 0;
		}
		h3 {
			line-height: 0;
		}
		.pic {
			width: 260px;
			height: 260px;
			margin-right: 20px;
			background-position: center;
			background-size: cover;
			background-image: url(https://fbcdn-sphotos-h-a.akamaihd.net/hphotos-ak-xfa1/t31.0-8/286421_10150364317550120_7692876_o.jpg);
			display: inline-block;
		}
		.quote {
			padding-top: 5px;
			font-size: 0.8em;

			.author {
				position: relative;
				top: 15px;
			}
		}
	}

	.contact-section {
		.contact-me {
			display: inline-block;
			width: 50%;
			min-width: 320px;
			padding: 0 50px;

			h3 {
				line-height: normal;
				margin: 0;
			}
			p {
				margin: 0;
			}
		}
		.contact-form {
			margin: auto;
			margin-bottom: 100px;
			display: inline-block;
			width: 50%;
			min-width: 320px;
			padding: 0 50px;

			form {
				width: 100%;
			}
			input, textarea {
				display: block;
				margin: auto;
				margin-bottom: 10px;
				border: 1px solid #ccc;
				width: inherit;
				padding: 5px 10px;
			}

			label {
				font-size: 0.9em;
			}

			input[type="submit"] {
				background: white;
				width: 100px;
				float: right;
			}
		}
	}
}

