/* Tablet */
@media only screen and (max-width:1170px) {
	.wrapper {
		width: 1024px;
	}
	.header-container {
		h1 {
			font-size: 3em;
			margin-top: 1.3em;
		}
		h2 {
			font-size: 1.5em;

			&:before {
				content: "Beautifully crafting web and mobile experiences";
			}
		}
		.box {
			max-width: 660px;
		}
	}
	ul.blocks {
		li.block {
			display: block;
			padding: 40px 20px;
			height: auto;
			min-height: 400px;
		}

		li.pic {
			/* TODO - fix these pics on mobile */
		}
	}

	.main {
		.bio {
			.pic {
				display: block;
				margin: auto;
				margin-bottom: 20px;
			}
			.row {
				article {
					display: block;
				}
			}
		}
		.contact-section {
			.contact-me {
				padding: 0;
				margin-bottom: 20px;
			}
			.contact-form {
				padding: 0;
				padding-left: 20px;
			}
		}
	}

	.chart {
		display: block;
		margin-bottom: 20px;
	}
}
/* Phone */
@media only screen and (max-width:670px) {
	.wrapper {
		width: 320px;
	}
	.header-container {
		h1 {
			font-size: 1.42em;
			margin-top: 3.3em;
			margin-bottom: 0em;
		}
		h2 {
			font-size: 1em;
			margin-top: 0.3em;

			&:before {
				content: "Crafting web & mobile experiences";
			}
		}
		.icons i {
			font-size: 2em;
		}
	}
	.main {
		h2.title {
			line-height: 4em;
			&:before {
				top: 2em;
			}
		}
		.contact-section {
			.contact-me {
				padding: 0;
				margin-bottom: 20px;
			}
			.contact-form {
				padding: 0;
				margin: 0;
			}
		}
	}
}
