/* Tablet */
@media only screen and (max-width:968px) {
	.wrapper {
		width: 660px;
	}
	.header-container {
		h1 {
			font-size: 3em;
			margin-top: 1.3em;
		}
		h2 {
			font-size: 1.5em;

			&:before {
				content: "Beautifully crafting web and mobile experiences";
			}
		}
	}
}
/* Phone */
@media only screen and (max-width:670px) {
	.wrapper {
		width: 320px;
	}
	.header-container {
		h1 {
			font-size: 1.42em;
			margin-top: 3.3em;
			margin-bottom: 0em;
		}
		h2 {
			font-size: 1em;
			margin-top: 0.3em;

			&:before {
				content: "Crafting web & mobile experiences";
			}
		}
		.icons i {
			font-size: 2em;
		}
	}
}
