.gallery-btn {
	cursor: zoom-in;
	position: relative;

	&:hover {
		opacity: 0.8;
	}

	.icon-search {
		font-size: 2.5em;
		background-color: $lighterGrey;
		border: 2px solid $lightGrey;
		height: 60px;
		width: 60px;
		position: absolute;
		margin: auto;
		margin-top: -30px;
		top: 50%;
		left: 0;
		right: 0;
		line-height: 0;
		padding-top: 30px;
		padding-left: 4px;
		@include rounded(40px);
		-moz-box-shadow: 0px 0px 5px #000; /* FF3.5+ */
		-webkit-box-shadow: 0px 0px 5px #000; /* Saf3.0+, Chrome */
		box-shadow: 0px 0px 5px #000; /* Opera 10.5, IE9, Chrome 10+ */
	}
}