html,body {
    width: 100%;
    height: 100%;
    margin: 0px;
}

body {
    font: 14px/26px 'Open Sans', sans-serif;
    color: #2d3438;
}

i {
    font-style: normal;
}

a{
   color: #2d3438;
   font-weight: bold;
}
a:link{
}
a:hover{
   text-decoration: none;
}
a:active{
}

.wrapper {
	display: block;
	width: 1170px;
	margin: auto;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

h2 {
    font-size: 1.5em;
    margin: 0.83em 0;
}