h1, h2, h3, p {
	&.white {
		color: white;
	}
}

.main {

	.center {
		text-align: center;
	}

	h2 {
		font-size: 1.5em;
		line-height: 10em;
		text-transform: uppercase;
		font-weight: 500;
		position: relative;
		display: block;

		&:before {
			position: absolute;
			z-index: 1;
			top: 5em;
			right: 0;
			left: 0;
			border-bottom: 1px solid $darkGrey;
			content: "";
			height: 1px;

		}

		span {
			position: relative;
			z-index: 2;
			background: white;
			padding-right: 25px;
			border: 1px solid $darkGrey;
			padding: 10px 40px;
			font-size: 1em;
			font-weight: 600;
		}
	}

	h3 {
		font-size: 1.2em;
		font-weight: 600;
		text-transform: uppercase;
		line-height: 2em;
	}

	p {
		font-size: 1em;
	}
}